# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

# Docker
.dockerignore

# Virtual environments
venv/
env/
.venv/

# Node modules
node_modules/

# Build artifacts
**/dist/
**/build/
**/.next/